<!-- launch file for point cloud laser scan conversion and filtering of robot body -->
<launch>

  <!-- Point cloud body filter node -->
  <!-- node name="pointcloud_filter" pkg="sensor_filters" type="pointcloud2_filter_chain">
      <rosparam command="load" file="../config/movo_body_filter.yaml" />
  
      <remap from="~input" to="/camera/depth/color/points" />
      <remap from="~output" to="/camera/depth/color/points_filtered" />
  </node-->

  <!-- Point cloud to laser scan conversion -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">
      <!--remap from="/cloud_in" to="/camera/depth/color/points_filtered"/-->
      <remap from="/cloud_in" to="/camera/depth/color/points"/>

      <!--remap from="/scan" to="/movo/base_scan_filtered"-->

      <rosparam>
          #target_frame: "camera_link"
          target_frame: "front_laser_link"
          min_height: 0 
          range_min: 0 
      </rosparam>
  </node>


</launch>
