<launch>
     <!-- MoveIt Joint Space Action Server, Head -->
    <node pkg="moveit_action_handlers" type="move_joints_action_server_node" name="head_move_joints_action_server_node" output="screen">
        <param name="move_group" value="head"/>
        <param name="action_server_name" value="moveit_action_handlers/head/joint_ctrl"/>
    </node>

    <!-- MoveIt Joint Space Action Server, Torso -->
    <node pkg="moveit_action_handlers" type="move_joints_action_server_node" name="torso_move_joints_action_server_node" output="screen">
        <param name="move_group" value="torso"/>
        <param name="action_server_name" value="moveit_action_handlers/torso/joint_ctrl"/>
    </node>
</launch>