<?xml version="1.0"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find movo_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <include file="$(find movo_gazebo)/launch/movo.launch">
        <arg name="world" value="$(find aws_robomaker_hospital_world)/worlds/hospital.world"/>
        <arg name="limited" default="false"/>
        <arg name="paused" default="false"/>
        <arg name="gui" default="true"/>
        <arg name="x" default="0.0" />
        <arg name="y" default="10.0" />
        <arg name="z" default="0.0" />
    </include>
</launch>
